version: "3.9"

services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_DB: backgroundjobprocessingsystem
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:6

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/backgroundjobprocessingsystem
      REDIS_ADDR: redis:6379

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/backgroundjobprocessingsystem
      REDIS_ADDR: redis:6379

volumes:
  pgdata:
